<div class="container">
    <h1> Post Details</h1>
  
   
    <div>
        <strong>ID:</strong>
        <p>{{ post.postId}}</p>
    </div>
   
    <div>
        <strong>Title:</strong>
        <p>{{ post.postTitle }}</p>
    </div>
   
    <div>
        <strong>Body:</strong>
        <p>{{ post.postBody }}</p>
    </div>
    <div>
        <strong>Post Date:</strong>
        <p>{{ post.dop}}</p>
    </div>

    <div>
        <strong>publisher Id:</strong>
        <p>{{ post.userid}}</p>
    </div>
   
   
</div>
<a href="#" routerLink="/welcome/post" class="btn btn-primary">Back</a>
